:root,
* {
	padding: 0;
	margin: 0;
	background: none;
}

html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.canvas {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: none;
}

.overlay {
	padding: 1em;
	backdrop-filter: blur(5px);
	color: white;
	background-color: #0006;
	display: none;
	pointer-events: none;
}

.overlay h1:not(:first-child),
.overlay h2:not(:first-child),
.overlay h3:not(:first-child),
.overlay h4:not(:first-child) {
	margin-top: 2rem !important;
}

.overlay.active {
	display: inherit;
	pointer-events: all;
	overflow-x: hidden;
	overflow-y: scroll;
	box-sizing: border-box;
}

.overlay.active>* {
	max-width: 100%;
	padding: 0;
	margin: 0 0 1rem 0;
	box-sizing: border-box;
	white-space: pre-wrap;
	overflow-x: hidden;
}